</br>
<div class="card" id="about-us-page">
  <div class="card-body">
    <h5 class="card-title">About Us</h5>
    <h6 class="card-subtitle mb-2 text-muted">Get to know us a little bit</h6>
    <p class="card-text">
    Welcome to the Jungle, where you can find a wide variety of plants to suit all your gardening needs. We are passionate about plants and have a team of experts who carefully curate our selection to bring you only the best and healthiest options. Our goal is to make it easy for you to find and buy the perfect plants for your home or garden. We offer fast and reliable shipping, and are always here to help with any questions you may have. Thank you for choosing us as your go-to source for all things green!
    </p>
    <a href="/">Back to homepage</a>
  </div>
</div>